input{
    display: inline;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[reardonly]{
   background-color: #eee;
    opacity: 1;
}

.rewardBox > input{
   width: 50%;
}

.cardSector > input{
       width: 19%;
}
.printSpace{
   margin-top: 20px;
   margin-bottom: 20px;
   border: solid; 
   border-color: #ddd;
   padding: 3%; 
}

.boxSpace{
   margin-top: 20px;
   margin-bottom: 20px;
   /* border: dashed; */
   border: solid;
   border-color: #ddd;
   padding: 3%; 
}

.dragSpace{
   margin-top: 20px;
   margin-bottom: 20px;
   border: dashed;
   border-color: #87ceeb; 
}
.wrap{
   background-color: #f8f8f8;
}

.findViewWrap{
   background-color: #f8f8f8;
   height: 500px;
}

.col{
   background-color: white;
}
.modal_img{
   border : solid;
   width : 570px;
   margin-bottom: 20px;
}

.data_area{
   padding-top: 50px;
}

#imageZone {
   width: 100%;
   border: dashed;
}

ul.nav.navbar-nav > li:hover {
    background-color: lightgray;
}

button#project_search_btn {
    height: 34px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
   {
   color: black;
   background-color: white;
   border: none !important;
   border-bottom-color: transparent;
   border-radius: none !important;
}
.progress{
   margin-bottom: 0px;
   border-radius: 0px;
}

.progress-bar {
    background-color: lightgreen;
}

.caption {
    height: 10%;
    overflow: auto;
}

.point{
   color : gray;
}

.member_profile{
   height: 210ox;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: lightgray;
}

ul#project_state {
    background-color: #eee;
}

.progress {
    height: 10px;
}

.caption {
    background-color: ghostwhite;
}

button#support_project_view {
    width: -webkit-fill-available;
}

/*  */

/* input[type="radio"]{
   display : none;
}

.form-group input[type="radio"] {
    display: none;
}

.form-group input[type="radio"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="radio"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="radio"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="radio"]:checked + .btn-group > label span:last-child {
    display: none;   
} */


/*  */

.funkyradio label {
    /*min-width: 400px;*/
    width: 25%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

